doctype
html
  head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    link(href="ex1.css" rel="stylesheet" type="text/css")
    meta(charset="UTF-8")

  body
    h1 Les présidents francais
    ul
      li.active
        a(href="#vgiscarddestaing") Valéry Giscard d'Estaing
      li
        a(href="#fmitterand") François Mitterrand
      li
        a(href="#jchirac") Jacques Chirac

    section.tab
      article#vgiscarddestaing
        |Élu de justesse face au socialiste François Mitterrand, il engage de nombreuses réformes sociétales, dont l'abaissement de la majorité civile de 21 à 18 ans, la dépénalisation de l'IVG ou la mise en place du divorce par consentement mutuel. Il est confronté à l'aggravation de la crise économique et aux divisions de sa majorité, qui remporte les élections législatives de 1978. Candidat à sa propre succession, il est battu par François Mitterrand. Il est par la suite député, député européen, président de la Convention sur l'avenir de l'Europe et président du conseil régional d'Auvergne. Membre de droit du Conseil constitutionnel, il n'occupe son siège qu'à partir de 2004. Il est membre de l'Académie française depuis 2003.
      article#fmitterand
        |Élu en 1981 après des échecs en 1965 et 1974, réalisant la première alternance de la Cinquième République. Il est à l'origine de l'abolition de la peine de mort. À la suite de la victoire de la droite aux élections législatives de 1986, il nomme Jacques Chirac Premier ministre, inaugurant ainsi la première cohabitation de la cinquième République. Réélu le 8 mai 1988 face à celui-ci, son deuxième septennat s'achève par une deuxième cohabitation avec Édouard Balladur, nommé à la suite des élections législatives de mars 1993. Sur le plan international, il engage la France dans la guerre du Golfe. Il est le premier président de la République élu deux fois au suffrage universel, et demeure le président de la République ayant exercé le plus long mandat, toutes Républiques confondues.
      article#jchirac
        |Premier ministre de Valéry Giscard d'Estaing du 27 mai 1974 au 25 août 1976 et de François Mitterrand du 20 mars 1986 au 11 mai 1988, Chirac est élu président de la République en 1995 après deux échecs, en 1981 et 1988. Il tente de mettre en place des réformes économiques importantes, mais échoue à les imposer. En 1997, il dissout l'Assemblée nationale. La gauche remporte les élections législatives, ce qui le contraint à nommer Lionel Jospin premier ministre pour une cohabitation de cinq ans. Durant son premier mandat, le quinquennat présidentiel est approuvé par référendum. Le 5 mai 2002, il est réélu face à Jean-Marie Le Pen. Sur le plan international, il engage la France dans la guerre d’Afghanistan mais s'oppose à une nouvelle guerre en Irak. Après sa présidence, il siège trois ans au Conseil constitutionnel, dont il est membre de droit.

  script(src="ex1.js")