doctype
html
  head
    title SASS 1
    meta(charset="UTF-8")
    link(href="index.css", rel="stylesheet")
  body
    - var i = 0
    while i < 20
      - i++
      .col-xs-12.col-sm-6.col-md-4.col-lg-2.col-xl-1 lol
