doctype
html
  head
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="ex4.js")
    link(href="ex4.css" rel="stylesheet" type="text/css")
    meta(charset="UTF-8")


  body
    #carousel
      img(src="https://upload.wikimedia.org/wikipedia/commons/5/56/Hornocal.JPG" alt="lofoten")

      img(src="https://upload.wikimedia.org/wikipedia/commons/0/03/Arnhem_Nederrijn_ochtend_apr04.jpg" alt="gerainger fjord")

      img(src="https://upload.wikimedia.org/wikipedia/commons/0/0f/From_Cottonwood_Cove_looking_north_past_the_teepees%2C_in_Coyote_Buttes_South%2C_Arizona.jpg" alt="A")

      img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Zagoryanskiy_Bugry_Kliazma.jpg/1280px-Zagoryanskiy_Bugry_Kliazma.jpg" alt="oslo treck")

